:root {
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: var(--generic-fill-colors-fill-brand);
  --color-text: #fff;
  --color-link: #fff;
  --color-link-hover: #fff;
  --page-padding: 1.5rem;
  --color-loader-bg: var(--generic-fill-colors-fill-brand);
  --color-loader-bar-bg: var(--postcode-lottery-colors-black-20-percent);
  --color-loader-bar-fill: var(--postcode-lottery-colors-white);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: radial-gradient(77.78% 140% at 50% 50%, #E30027 24.5%, #A3001C 100%);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:focus-visible {
  outline: 2px solid red;
}

#root {
  position: relative;
  min-height: 100svh;
}
